*.info
*.kate-swp
*.log
*~
.*.swp
.*_cache/
.coverage
.cspellcache
.directory
.pnp.*
/.flatpak-builder/
/.yarn/install-state.gz
/CMakeUserPresets.json
/build/
/build_fp/
/dist/
/docs/_build/
/man/_static/
/repo/
/vcpkg_installed/
__pycache__/
htmlcov/
node_modules/
