*.info
*.kate-swp
*.log
*~
.*.swp
.*_cache/
.DS_Store*
.coverage
.cspellcache
.directory
.pnp.*
/.flatpak-builder/
/.yarn/install-state.gz
/CMakeUserPresets.json
/build/
/build_fp/
/dist/
/repo/
/vcpkg_installed/
node_modules/
