*.1
*.c
*.cpp
*.desktop
*.h
*.in
*.info
*.j2
*.jsonnet
*.kate-swp
*.libsonnet
*.lock
*.log
*.tags
*~
.*.swp
.*_cache/
.DS_Store*
.coverage
.cspellcache
.directory
.eslintignore
.pnp.*
.shellcheckrc
/.bash_profile
/.bashrc
/.claude/commands
/.flatpak-builder/
/.gitconfig
/.gitmodules
/.idea
/.mcp.json
/.profile
/.ripgreprc
/.wiswa-ci/
/.yarn/**/*.cjs
/.yarn/install-state.gz
/.zprofile
/.zshrc
/CMakeUserPresets.json
/build/
/build_fp/
/dist/
/repo/
/vcpkg_installed/
node_modules/
pylock*.toml
src/icon.rc
