*.1
*.c
*.cpp
*.desktop
*.h
*.in
*.info
*.j2
*.jsonnet
*.kate-swp
*.libjsonnet
*.lock
*.log
*.tags
*~
.*.swp
.*_cache/
.DS_Store*
.coverage
.cspellcache
.directory
.eslintignore
.pnp.*
.shellcheckrc
/.flatpak-builder/
/.yarn/**/*.cjs
/.yarn/install-state.gz
/CMakeUserPresets.json
/build/
/build_fp/
/dist/
/repo/
/vcpkg_installed/
node_modules/
src/icon.rc
