---
jobs:
  build-macos:
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install deps
        run: brew install extra-cmake-modules ffmpeg qt sound-touch
      - run: |
          cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=${{matrix.build-type}} \
            --install-prefix ${{github.workspace}}/build/prefix
          cmake --build build --config ${{matrix.build-type}} --verbose
          cmake --install ${{github.workspace}}/build --config ${{matrix.build-type}} --verbose
      - name: Package
        run: >-
          cpack -C ${{matrix.build-type}}
          --config ${{github.workspace}}/build/CPackConfig.cmake --verbose
      - name: 'Upload Artifacts'
        uses: 'actions/upload-artifact@v6'
        with:
          if-no-files-found: error
          name: bpmdetect-${{ matrix.build-type }}-${{ matrix.os }}
          path: |
            ${{github.workspace}}/bpmdetect-*.zip
            ${{github.workspace}}/bpmdetect-*.dmg
      - name: Attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            ${{github.workspace}}/bpmdetect-*.zip
            ${{github.workspace}}/bpmdetect-*.dmg
      - if: ${{ github.ref_type == 'tag' }}
        name: Upload package
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          files: |
            ${{github.workspace}}/bpmdetect-*.zip
            ${{github.workspace}}/bpmdetect-*.dmg
    strategy:
      fail-fast: false
      matrix:
        build-type: [Debug, Release]
        os: [macos-latest, macos-15-intel]
  build-msys:
    runs-on: windows-latest
    steps:
      - id: fixed_workspace
        name: Fix path
        run: >-
          echo out=$("${{github.workspace}}" -Replace "\\","/") | Out-File
          -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append
      - uses: msys2/setup-msys2@v2
        with:
          install: >-
            make
          msystem: ${{matrix.sys.name}}
          pacboy: >-
            cmake:p
            extra-cmake-modules:p
            ffmpeg:p
            ninja:p
            nsis:p
            qt6-base:p
            qt6-multimedia:p
            qt6-tools:p
            soundtouch:p
            toolchain:p
            zlib:p
          update: true
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Configure
        run: >-
          cmake -G Ninja -B ${{steps.fixed_workspace.outputs.out}}/build
          --install-prefix ${{steps.fixed_workspace.outputs.out}}/build/prefix
          -DCMAKE_BUILD_TYPE=${{matrix.build-type}}
          -DFHS=OFF
        shell: msys2 {0}
      - name: Build
        run: cmake --build ${{steps.fixed_workspace.outputs.out}}/build --verbose
        shell: msys2 {0}
      - name: Install
        run: >-
          cmake --install ${{steps.fixed_workspace.outputs.out}}/build
          --config ${{matrix.build-type}} --verbose
        shell: msys2 {0}
      - name: Package
        run: >-
          cpack -C ${{matrix.build-type}}
          --config ${{steps.fixed_workspace.outputs.out}}/build/CPackConfig.cmake --verbose
        shell: msys2 {0}
      - name: 'Upload Artifacts'
        uses: 'actions/upload-artifact@v6'
        with:
          if-no-files-found: error
          name: bpmdetect-${{ matrix.build-type }}-${{ matrix.sys.name }}
          path: |
            ${{github.workspace}}/bpmdetect-*.exe
            ${{github.workspace}}/bpmdetect-*.zip
      - name: Attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            ${{github.workspace}}/bpmdetect-*.exe
            ${{github.workspace}}/bpmdetect-*.zip
      - if: ${{ github.ref_type == 'tag' && matrix.sys.name == 'ucrt64' }}
        name: Upload package
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          files: |
            ${{github.workspace}}/bpmdetect-*.exe
            ${{github.workspace}}/bpmdetect-*.zip
    strategy:
      fail-fast: false
      matrix:
        build-type: [Debug, Release]
        sys:
          - env: x86_64
            name: mingw64
          - env: ucrt-x86_64
            name: ucrt64
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y extra-cmake-modules lcov libavcodec-dev libavformat-dev libavutil-dev libsoundtouch-dev tree
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          modules: qtmultimedia
      - name: Configure
        run: >-
          cmake -DCMAKE_BUILD_TYPE=${{matrix.build-type}} -B ${{github.workspace}}/build
          --install-prefix ${{github.workspace}}/build/AppDir/usr
          -DCMAKE_INTERPROCEDURAL_OPTIMIZATION=ON
          -DFHS=ON
      - name: Build
        run: cmake --build ${{github.workspace}}/build --verbose --config ${{matrix.build-type}}
      - name: Install
        run: cmake --install ${{github.workspace}}/build --config ${{matrix.build-type}} --verbose
      - name: Package
        run: >-
          cpack -C ${{matrix.build-type}}
          --config ${{github.workspace}}/build/CPackConfig.cmake --verbose
      - name: Create AppImage
        run: |
          wget 'https://github.com/TheAssassin/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage'
          chmod +x linuxdeploy-x86_64.AppImage
          ./linuxdeploy-x86_64.AppImage --appdir ${{github.workspace}}/build/AppDir --output appimage
          rm ./linuxdeploy-x86_64.AppImage
          mv ${{github.workspace}}/*.AppImage ${{github.workspace}}/bpmdetect-${{matrix.build-type}}-x86_64.AppImage
      - if: ${{ github.ref_type == 'tag' && matrix.build-type == 'Release' }}
        name: Rename with tag
        run: mv -v ${{github.workspace}}/bpmdetect-*.AppImage ${{github.workspace}}/bpmdetect-${{github.ref}}-x86_64.AppImage
      - name: 'Upload Artifacts'
        uses: 'actions/upload-artifact@v6'
        with:
          if-no-files-found: error
          name: bpmdetect-${{ matrix.build-type }}-Linux
          path: |
            ${{github.workspace}}/bpmdetect-*.AppImage
            ${{github.workspace}}/bpmdetect-*.zip
      - name: Attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            ${{github.workspace}}/bpmdetect-*.AppImage
            ${{github.workspace}}/bpmdetect-*.zip
      - if: ${{ github.ref_type == 'tag' && matrix.build-type == 'Release' }}
        name: Upload package
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          files: |
            ${{github.workspace}}/build/bpmdetect-*.AppImage
    strategy:
      fail-fast: false
      matrix:
        build-type: [Debug, Release]
name: C/C++ CI
'on':
  push:
    branches: [master]
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [master]
permissions:
  attestations: write
  contents: write
  id-token: write
